* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden; /* needed on html and body */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: #fff;
  padding: 0 10%;
  overflow-x: hidden;
}
@media (min-width: 993px) {
  body {
    padding: 0 15%;
  }
}

/*---------- basic styles ---------*/

img {
  width: 100%;
}

.blk {
  display: block;
}

.z {
  position: relative;
  z-index: 2;
}

.h1Big {
  font-size: 80px;
}

.h1Small {
  font-size: 62px;
}

.pLrg {
  font-size: 27px;
}

i {
  font-size: 20px;
}
/*---------- pre-styles ----------*/

.centerText {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paddingB {
  padding-bottom: 7rem;
}

/*------- styles --------*/
/*
.cir:hover {
  border: 1px solid #fff;
  cursor: pointer;
}*/

.b1,
.b2,
.b3,
.fl,
.cords {
  color: #444;
  position: absolute;
  font-size: 50px;
}

.cords {
  font-size: 17px;
}

@media (min-width: 2500px) {
  .pLrg {
    font-size: 54px;
  }
  h3 {
    font-size: 58px;
  }
}
